<!-- views/index.ejs -->
<%- include('layout') %>

<div class="container">
    <h1>Bienvenido al Dashboard de la Tienda Online</h1>
    <p>Selecciona una de las opciones del menú para comenzar.</p>
</div>